@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <a id="entrar-em-partida">Nova partida</a>
    </div>
</div>

@section Scripts{

    <script src="/js/partida.js"></script>
}