@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <a id="nova-sala">Nova sala</a>
    </div>
    <div class="col-md-3">
        <a id="nova-sala">Buscar sala</a>
    </div>
</div>

@section Scripts{

    <script src="/js/criacaoDeSala.js"></script>
}