@model string
@{
    ViewData["Title"] = "Partida";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-12 text-center">
        <label id="meu-parceiro"></label>
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-center">
        <label id="opnente-1"></label>
    </div>
    
    <div class="col-md-6 text-center">
        <img id="carta-da-rodada"/>
    </div>
    
    <div class="col-md-3 text-center">
        <label id="opnente-2"></label>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <div id="minhas-cartas"></div>
        <label id="eu"></label>
    </div>
</div>


@section Scripts{
    
    <script src="/lib/signalr/signalr-client-1.0.0-alpha2-final.min.js"></script>
    <script src="/js/partida.js"></script>
    <script type="text/javascript">
        configurarUsuario("@Model");
    </script>
}
